#centralizar {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-right: 5%;
}
button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 20vh;
    background-color: #323C64;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 20px;
    font-weight: 500;
    padding: 8px 10px;
}

button:hover {
    background-color: #060916;
    text-decoration: none;
    transition-duration: 0.1s;
}

