.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(80vh);
    overflow-y: hidden;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

}

.opcao {
    margin: 3%;
    background-color:#B3CDE7;
    padding: 20px;
    width: 300px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #45474f;
}



a {
    width: 20vh;
    background-color: #323C64;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 20px;
    font-weight: 500;
    padding: 12px 15px;
    text-decoration: none;
}

button:hover, a:hover {
    background-color: #060916;
    text-decoration: none;
    transition-duration: 0.1s;
}


.opcao .titulo{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.opcao .descricao{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid #767676;
    border-bottom: 2px solid #767676; 
}

.opcao .ir {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcao .descricao p {
    font-size: large;
    margin: 15px 5px;
} 

.opcao .ir a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}